$color-black: #333333;
$color-yellow: #FFBC00;
$color-orange: #E59700;
$color-grey: #CCCCCC;
$color-light-grey: #F4F4F4;
$font-sizes: (
    "large" : 50px,
    "header" : 32px,
    "medium2" : 20px,
    "medium" : 18px,
    "small" : 16px,
    "small2": 14px,
    "xs" : 8px
);